* {
    /*Zerando margin e padding*/
    margin: 0;
    padding: 0;
    /*box sizing serve para todos os elementos do projeto não passem do limite da largura do elemento pai*/
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

    }

    
body {
    background-color: rgb(73, 71, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    /*Em serve para deixar o codigo recursivo, pegando os valores de cada layout ao invés de um valor bruto inserido a mão*/
    padding: 3em;

}

#titulo {
    font-size: .8em;
    font-weight: 300;
    margin: 3em;
    padding: 3em;
    color: rgb(251, 251, 251);
}

#InsiraNome {
    display: flex;
    align-items: center;
    justify-content: center;
}
